//-
    @file Alpha Testers Dashboard page of Bluebird.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced
    div.col-xs-12.col-sm-6
        div.panel.panel-warning
            div.panel-heading
                h1.panel-title
                    | Welcome, Alpha Testers!
            div.panel-body
                p Thank you for your help! This Dashboard is your home and general troubleshooting control panel. Please make yourself at home.
    div.col-xs-12.col-sm-6
        div.panel.panel-danger
            div.panel-heading
                h1.panel-title
                    i.fa.fa-warning.fa-border.pull-left.fa-3x(style="background: red; color: black")
                    | Head's up! These items are currently misbehaving.
            div.panel-body
                ul.list-unstyled
                    li
                        p Inventory backend is definitely broken, do not rely on availability information.