//-
    @file Home page of PTK.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced
    div.col-xs-12.col-sm-6
        div.jumbotron.bg-primary.text-center
            h1
                i.fa.fa-fighter-jet.fa-4x.fa-rotate-270
            br
            h1 Bluebird
            p
                h4 Powered with Best Buy Developer APIs.
                h4 Built by the Bluebird Team.
            //-p
                h6
                    small &quot;{{ quote }}&quot;
            p
                a.btn.btn-primary.btn-lg(href="/#!/learn" role="button") Learn more
    div.col-xs-12.col-sm-6(ng-if="alphaTestingEnabled")
        div.jumbotron.bg-info.text-center
            h1
            br
            h2.text-warning Alpha Tester?
            br
            h4.text-warning Awesome! You are a big part in helping us make something great!
            br
            a.btn.btn-warning.btn-lg(href="/#!/alpha" role="button") Get Started!