//-
    @file Home page of Bluebird.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced
    div.col-xs-12.col-sm-6
        div.jumbotron.bg-primary.text-center
            h1
                img(src="/static/images/logos/bluebird-logo-small.png", width="200")
            br
            h1 Bluebird
            h5 Pocket Product Reference Engine
            h6
                small &quot;{{ quote }}&quot;
            p.text-muted
                h6 Powered with Best Buy Developer APIs.
                h6 Built by the Bluebird Team.
            br
            p
                a.btn.btn-primary.btn-lg(href="/#!/learn" role="button") Learn more