//-
    @file Home page of Bluebird.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced
    div.col-xs-12.col-sm-4.module
        h2 About Bluebird
        p Bluebird is a pocket toolkit whose purpose is to quickly and quietly retrieve product information from either the Bluebird database or the public <a href="http://developer.bestbuy.com">Best Buy Developer APIs</a> for use by store representatives and vendors.