//-
    @file Home page of Bluebird.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced.module
    div.col-xs-12.col-sm-6
        h2 About Bluebird
        p Intended as a pocket toolkit, Bluebird is designed to quickly and quietly retrieve product information from either the Bluebird database or the public <a href="http://developer.bestbuy.com">Best Buy Developer APIs</a> for use by store representatives and vendors without requiring client devices to reside on the Best Buy internal network.
            | By relying on Best Buy's public APIs instead of the company's internal applications, Bluebird can function outside of the company's internal network, allowing employees to utilize their own devices to assist customers.
    div.col-xs-12.col-sm-6
        h3 Development
        p Bluebird is an evolving application whose ongoing development is focused on delivering a performance-heavy, productivity-minded platform.
            | The application is currently in early alpha, but is not expected to be ready for full-time use until its release version (1.0.0).
            | Issues and feature requests can be submitted via <a href="http://github.com/SparksD2145/Bluebird/"><strong>the Bluebird github</strong></a>, on the <a href="http://github.com/SparksD2145/Bluebird/issues"><strong>Bluebird Issues page</strong></a>.
            | Bluebird is developed by the Bluebird team.
    div.col-xs-12.col-sm-6
        h3 Team Members
        p Our team currently consists of Thomas Ibarra, and so far that's it. One, very alone, person.
        ul.media-list
            li.media
                a.media-left
                    img.thumbnail(src="/static/images/developers/thomas.jpg", width="60")
                div.media-body
                    h5.media-heading
                        strong Thomas Ibarra &nbsp;
                        small Lead Developer
                    p I am a former Employee Toolkit developer whose passion is building things.

