//-
    * @file Listing of globally included scripts in the development environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

//- jQuery
script(src="/libraries/jquery/dist/jquery.js")

//- FontAwesome
link(rel='stylesheet', href='/libraries/fontawesome/css/font-awesome.css')

//- Bootstrap
link(rel='stylesheet', href='/libraries/bootstrap/dist/css/bootstrap.css')
//-link(rel='stylesheet', href='/libraries/bootstrap/dist/css/bootstrap-theme.css')
script(src='/libraries/bootstrap/dist/js/bootstrap.js')

//- Underscore
script(src="/libraries/underscore/underscore.js")

//- Moment
script(src="/libraries/moment/moment.js")

//- Modernizr
script(src="/libraries/modernizr/modernizr.js")

//- Angular
script(src="/libraries/angular/angular.js")
script(src="/libraries/angular-animate/angular-animate.js")
script(src="/libraries/angular-cookies/angular-cookies.js")
script(src="/libraries/angular-resource/angular-resource.js")
script(src="/libraries/angularjs-geolocation/src/geolocation.js")
script(src="/libraries/angular-sanitize/angular-sanitize.js")
script(src="/libraries/angular-touch/angular-touch.js")
script(src="/libraries/angular-ui-router/release/angular-ui-router.js")