//-
    * @file Listing of globally included libraries in the production environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

//- jQuery
script(src="/libraries/jquery/dist/jquery.min.js")

//- FontAwesome
link(rel='stylesheet', href='/libraries/fontawesome/css/font-awesome.min.css')

//- Bootstrap
link(rel='stylesheet', href='/libraries/bootstrap/dist/css/bootstrap.min.css')
//-link(rel='stylesheet', href='/libraries/bootstrap/dist/css/bootstrap-theme.min.css')
script(src='/libraries/bootstrap/dist/js/bootstrap.min.js')

//- Underscore
script(src="/libraries/underscore/underscore-min.js")

//- Moment
script(src="/libraries/moment/min/moment.js")

//- Modernizr
script(src="/libraries/modernizr/modernizr.js")

//- Angular
script(src="/libraries/angular/angular.min.js")
script(src="/libraries/angular-animate/angular-animate.min.js")
//-script(src="/libraries/angular-cookies/angular-cookies.min.js")
script(src="/libraries/angular-resource/angular-resource.min.js")
script(src="/libraries/angularjs-geolocation/dist/angularjs-geolocation.min.js")
script(src="/libraries/angular-sanitize/angular-sanitize.min.js")
//-script(src="/libraries/angular-touch/angular-touch.min.js")
script(src="/libraries/angular-ui-router/release/angular-ui-router.min.js")