//-
    @file Learn mor page of Bluebird.
    @author Thomas Ibarra <sparksd2145@gmail.com>

div.row.spaced
    div.col-xs-12.col-sm-6
        div.jumbotron.bg-primary.text-center(style="border: 1px solid #5cb85c")
            h1
                img(src="/static/images/logos/bluebird-logo-small.png", width="200")
            br
            h2 Bluebird
            h5 Version 0.3.7 (alpha)
            p
                h6.
                    Intended as a pocket toolkit, Bluebird is designed to quickly and quietly retrieve product information
                    from either the Bluebird database or the public <strong><a href="http://developer.bestbuy.com" target="_new">Best Buy Developer APIs</a></strong>
                    for use by store representatives and vendors without requiring client devices to reside on the Best Buy internal network.
                    By relying on Best Buy's public APIs instead of the company's internal applications,
                    Bluebird can function outside of the company's internal network, allowing employees to utilize their own devices to assist customers.
                br
                h6.
                    Bluebird is privately developed by the <a href="/#!/team"><strong>Bluebird team</strong></a> and is not (but aspires to be) an internal
                    Best Buy application. It continually updates to provide the latest features; Here is a list of new features and improvements!
            div.container.text-left
                div.row
                    div.col-xs-12
                        ul
                            li.
                                <strong>Baby Steps!</strong> Bluebird leaves closed-alpha and is now in open-alpha. Current users will not yet see the changes as development progresses. Vehicle Guide is no longer in alpha.
                            li.
                                <strong>Windows Phone support!</strong> After a long-standing fight with Internet Explorer, Bluebird once again supports Windows Phone! That's from Feud to Phew!
                            li.
                                <strong>Search other zip codes!</strong> Now you can search other zip codes from bluebird. Handy!
                            li.
                                <strong>Retrieve deleted or inactive items!</strong> Bluebird now allows you to search for deleted or inactive items within the Best Buy inventory.
                                This is fantastic if you want to search for that <a href="/#!/search/gold%203ds">special edition Majora's Mask 3DS</a>!
                            li.
                                <strong>General Verbage Improvements!</strong>
                                We like to english properly!
                                <del class="text-danger">Speling</del><sup>Spelling</sup> like <del class="text-danger">dis</del><sup>this</sup>
                                and other miscellaneous typos have been corrected.

            br
            p
                a.btn.btn-success.btn-lg(href="/#!/" role="button") Awesome!
    div.col-xs-12.col-sm-6.module
        h3 A Note on Availability
        p.
            When performing product lookups, Bluebird utilizes publicly-available data returned by the
            <strong><a href="http://developer.bestbuy.com" target="_new">Best Buy Developer APIs</a></strong>.
            This means information such as the quantity of a certain product within a given store is unavailable to us,
            allowing Bluebird to only provide an affirmative or negative "in inventory" result. Theoretically, if Bluebird resided within
            the internal Best Buy network, we could provide more in-depth data; however, as Bluebird is purposefully off the Best Buy
            internal network for use on Bring Your Own Devices, this data simply cannot be retrieved.
    div.col-xs-12.col-sm-6.module.spaced
        h3 Development
        p.
            Bluebird is an evolving application whose ongoing development is focused on delivering a performance-heavy, productivity-minded platform.
            The application is currently in early alpha, but is not expected to be ready for full-time use until its release version (1.0.0).
            Issues and feature requests can be submitted via
            <a href="http://github.com/SparksD2145/Bluebird/"><strong>Bluebird's public github repository</strong></a>.
            Bluebird is developed by the <a href="/#!/team"><strong>Bluebird team</strong></a>.
