/**
 * @file Sidebar sideMenu Cell LESS/CSS File
 * @author Thomas Ibarra <sparksd2145.dev@gmail.com>
*/

@import "../common/variables";

.full-size {
  width: 100%;
  height: 100%;
}

#sidebar {
  top: @navbar-height;
  display: block;
  transition: .2s opacity ease, .2s right ease;
  right: 100%;
  opacity: 0;

  &.open {
    right: 0;
    opacity: 1;
  }


  .full-size();
  position: fixed;
  z-index: 100;

  & > .container-fluid {
    .full-size();
    padding-left: 0;
    padding-right: 0;

    .row.cell {
      .full-size();
      margin: 0;
    }

    .content.cell {
      background: white;
      height: 100%;
      padding: 0;
    }

    .darkened.cell {
      background: #333333;
      opacity: .85;
      height: 100%;
    }

  }

  .nav {

    .divider {
      border-top: 5px solid #f7f7f7;
    }

    a {
      padding: 15px 10px 10px;
      display: block;

      @media (max-width: 767px) {
        & i {
          display: block;
          width: 100%;
          font-size: 35px;
        }
      }

      & span {
        margin-left: 10px;
        display: inline-block;

        @media(max-width: 767px) {
          margin-top: 10px;
          display:block;
          width: 100%;
          text-align: center;
          margin-left: 0;
        }
      }
    }
  }

}