//-
    * @file Listing of globally included libraries in the production environment.
    * @author Thomas Ibarra <sparksd2145.dev@gmail.com

script(src="/master/start.js")

script(src="/controllers/search.js")
script(src="/controllers/sidebar.js")

script(src="/components/state.js")

script(src="/services/products.js")
script(src="/services/availability.js")
script(src="/services/vehicles.js")

script(src="/states/home/home.js")
script(src="/states/about/about.js")
script(src="/states/team/team.js")
script(src="/states/product/product.js")
script(src="/states/search/search.js")
script(src="/states/vehicle-guide/start/vehicle-start.js")
script(src="/states/vehicle-guide/vehicle-selection/vehicle-selection.js")
script(src="/states/vehicle-guide/vehicle-details/vehicle-details.js")